img {
    max-width: 100%;
}

.gallery_box li {
    width: 33.333333%;
    max-width: 100%;
    display: inline-block;
    float: left;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.gallery_box {
    padding: 0;
    display: flow-root;
}

.gallery_box li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery_box li img {
    -webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}

.gallery_box li:nth-child(even) {
    height: 304px;
}

.gallery_box li:nth-child(odd) {
    height: 438px;
}

.gallery_box li:nth-child(odd) .box_data {
    background: rgba(0, 0, 0, 0.17)
}

.gallery_box li:nth-child(even) .box_data {
    background: rgba(0, 0, 0, 0.681)
}

.gallery_box .box_data {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
}

.gallery_box .box_data span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    font-size: 24px;
}

.gallery_box li:hover .box_data {
    background: rgba(255, 0, 38, 0)
}

.pagination_center>nav>.pagination {
    justify-content: center !important;
}


/* Contact  */

.profile-head {
    transform: translateY(2.5rem)
}

.cover {
    background-image: url(https://images.pexels.com/photos/8271921/pexels-photo-8271921.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    background-repeat: no-repeat
}


/* footer  */

#footer {
    background: #1d3567;
}


/* footer nav  */

.fo_nav>.items {
    display: inline-block;
    padding-top: 10px;
}

.fo_nav>.items:last-child {
    display: inline-block;
    padding: 3px;
}

.fo_nav .items:last-child {
    display: inline-block;
    padding: 3px;
}

.nav {
    float: right;
}

.cap:nth-child(1) {
    padding-left: 61px;
    padding-top: 0 !important;
}

.cap:nth-child(2) {
    padding-left: 61px;
    padding-top: 0 !important;
}

.cap:nth-child(3) {
    padding-left: 61px;
    padding-top: 0 !important;
}

.cap {
    padding-left: 61px;
    padding-top: 60px;
}

.foio_set {
    padding-left: 61px;
}

.foo_banner_iconset {
    background: white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
}


/* login  */

#login .container {
    /* height: 100vh; */
    margin: auto;
    vertical-align: middle;
}

#body {
    display: show;
    transition: .1s;
}

.fa-brands:hover {
    color: orange;
    transition: .5s;
}

.biggy {
    transition: .1s;
}

.biggy:hover {
    transform: scale(1.5);
    transition: 1s;
}